# config
jdbcUrl = jdbc:mysql://localhost/xl-ems?characterEncoding=utf8&useSSL=false&zeroDateTimeBehavior=convertToNull
user = root
password = root
devMode = true
xlapiuri = http://www.chinadny.com:8008/restful/
testAccount=xl1
testPassword=klklkl
#moudlesuri = http://localhost:8081/xl_manage/
moudlesuri = http://energy.chinadny.com/xl-manage/